@import "./variables";
@import "./custom.scss";

body {
  box-sizing: border-box;
  padding: 0;
  margin:0;
  background-color: #F0F2F5;
}

* {
  
  box-sizing: border-box;
  font-family: 'Neue Montreal',
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  color: var(--color-gray);
  
}

ul li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #C2C2C2;
  border-color: #C2C2C2;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}


